$first-color: #00c4ff;
$second-color: #fff;
$third-color: #000;
$fourth: transparent;
$fifth: #ccc;

.background {
  background: $third-color;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 1, 1) 9%,
    rgba(2, 21, 25, 1) 35%,
    rgba(2, 16, 25, 1) 100%
  );
  h2 {
    color: $second-color;
    padding: 25px 0;
  }
}

.card {
  background-color: $third-color;
  height: 500px;
  transition: 0.3s;
}

.card-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 0.8;
  border-radius: 10px;
  transition: 0.3s;
}

.card-image:hover {
  transform: scale(1.1);
}
.text-info {  
  left: 10px; 
  h2 {
    color: $second-color;
    font-family: Georgia, "Times New Roman", Times, serif;
  }
}

.nav-page {
  padding: 40px;
}

.button-link {
  background-color: $fourth;
  color: $first-color;
  border: $first-color solid 2px;
  margin: 0 20px;
  padding: 0px 15px;
  border-radius: 8px;
  transition: 0.3s;
}

.button-link:hover {
  background-color: $first-color;
  color: $second-color;
  border: $second-color solid 2px;
}

.button-link:disabled {
  background-color: $fourth;
  color: $fifth;
  border: $fifth solid 2px;
}
